@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Nunito', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9575CD;
    color: white;
}

main {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}


.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.input_section > h2 {
    text-align: center;
    color: #9575CD;
}

.input_section > form {
    width: 60%;
    margin: auto;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #9575CD;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 40%;
    margin: auto;
    padding: 8px;
    cursor: pointer;
    text-align: center;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
}

input:focus{
    outline: none;
}

.input_section > form > .input > label {
    color: #9575CD;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: #9575CD;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
}

.search_section > h2 {
    color: #9575CD;
}

.search_section > form {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > input {
    padding: 5px;
    margin-right: 300px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    width: 100%;
}

.search_section > form > button {
    background-color: #9575CD;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 10px 0 10px;   
}

.bookshelf{
    width: 60%;
    margin: auto;
}

.book_shelf {
    margin: 16px 0 0 0;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
}

.book_shelf > h2 {
    color: #9575CD;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid #9575CD;
    width: 80%;
    border-radius: 5px;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
    color: #424242;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: #388E3C;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: #F44336;
    color: white;
    float: right;
}
